<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.web.mappers.board.boardMapper">


<!-- 게시글목록 셀렉트 출력 -->
<select  id="getBoardList" resultType="kr.co.web.model.board.BoardDto">
	select * from atworks_qna
</select> 
 

 



<!-- 조회수 증가 -->

<update id="increase">
	update atworks_qna set view_count = view_count + 1 where seq = #{seq}
</update>



<!-- 한 개의 글 -->

<select id="view" resultType="kr.co.web.model.board.BoardDto">
	select * from atworks_qna where seq =
	#{seq}
</select>



<!-- 글 작성 -->

<insert id="write">
	insert into atworks_qna(category, u_id, title, contents)
	values('etc', #{u_id}, #{title}, #{contents})
</insert>



<!-- 글 수정 -->

<update id="update">
	update atworks_qna set title = #{title}, contents =
	#{contents}, u_id = #{u_id}
	where seq = #{seq}
</update>



<!-- 글 삭제 -->

<delete id="delete">
	delete from atworks_qna where seq = #{seq}
</delete>

</mapper>